.toHide {
  display: none;
}

/* Flaired edges, by Tomas Theunissen */

hr {
    height: 30px;
    border-style: solid;
    border-color: yellow;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: yellow;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}


.turn-button {
  display: block;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.center-text {
  text-align: center;
}

body {
  background-color: black;
  color: yellow;
  font-family: monospace;
}

.center-button {
  display:block;
  margin: 0 auto;
  margin-top: 2rem;
}

#startModal {
  color: black;
}

img#roll-img, img#roll-img2 {
  display:block;
  margin: 0 auto;
}

div#rules {
  text-align: left;
}

/***** Media Queries ****/

@media screen and (max-width: 768px) {
  h1, h2 {
    font-size: 1.5em;
  }

  .mobile-inline h1, h2{
    display: inline;
  }
}
